.footer{
    background-color: #513125;
}

.logoWidth{
    width: 40%;
    /* margin: 0 auto; */
}

.place{
    color: #c47a5e;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;;
}

.more{
    color: #f0d9cc;
    font-size: 0.8rem;
    font-weight: 700;
    /* padding: 0 2rem; */
    font-family: "Poppins", sans-serif;;
}

.fLink{
    color: #f0d9cc;
    text-decoration: none;
    font-family: "Poppins", sans-serif;;
}

.fLink:hover{
    color: #c47a5e;
    transition: all 0.5s ;
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;
}

.Quick{
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 600;
}

.address{
    font-family: "Poppins", sans-serif;
    color: #f0d9cc;
    padding: 1.1rem 0;

}

.links{
    color: #f0d9cc;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.links:hover{
    color: #c47a5e;
    transition: all 0.5s ;
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;
}

@media only screen and (max-width:900px) {
    .logoWidth{
        width: 30%; 
    }
}