@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --heading-font: "Cormorant Garamond", serif;
    --para-font: "Poppins", sans-serif;
    --heading-color: #513125;
    --subheading-color: #c47a5e;
    --e-global-color-415ba29: #fffdfa;
    --e-global-color-secondary: #f4ede6;
    --e-global-color-text: #b0b0b0;
    --h1-font-size-desktop: 4.688rem;
    --h1-font-size-tab: 4rem;
    --h1-font-size-mobile: 3.438rem;
    --h2-font-size-desktop: 3.125rem;
    --h2-font-size-tab: 2.8rem;
    --h2-font-size-mobile: 2.375rem;
    --h3-font-size-desktop: 1.50rem;
    --h3-font-size-tab: 1.7rem;
    --h3-font-size-mobile: 1.625rem;
    --subtitle-font-size: 1rem;
    --para-font-size: 0.875rem;
    --heading-font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 3s ease;
}

h1, h2, h3, h4, h5, h6{
    font-weight: var(--heading-font-weight) !important;
    font-family: var(--heading-font) !important;
    color: var(--heading-color) !important;
}

.active{
    color: #c47a5e;
}

.home{
    background-image: url('../Components/bannerbg_11zon.webp');
    background-position: center top;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

.Para{
    margin-top: 8rem;
    border: 1.2px solid #c47a5e;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

