.navLink{
    padding: 0 1.5rem;
    color: #513135;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

.navLink:hover{
    color: #c47a5e;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.navLogo{
    width: 100% !important;
    height: 100% !important;
}


@media only screen and (max-width:1025px) {
    .navLogo{
        width: 100% !important;
    }   
}

@media only screen and (max-width:520px) {
    .navLogo{
        width: 90% !important;
    }   

    .navLink{
        /* padding: 1rem 1.5rem; */
        color: #513135;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
    }
}

