.navbarBrand{
    width: 13%;
}

.navLink{
    font-size: 0.80rem;
    padding: 0 1rem;
    text-decoration: none;
    color: #513125;
    font-weight: 600;
    font-family: var(--para-font);
}
.navLink:hover{
    color: #c47a5e;
    transition: all 1ms;
    -webkit-transition: all 1ms;
    -moz-transition: all 1ms;
    -ms-transition: all 1ms;
    -o-transition: all 1ms;
}

.Active{
    color: #c47a5e;
}



